{% extends "base.html" %}


{% block styles%}
<link rel="stylesheet" href="{{url_for('.static',filename='home.css')}}"> 
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block content%}
<div class="row row-cols-1" style="background-color: tomato; color: whitesmoke;" >
  <div class="col" style="text-align: center;">
    <br>
    <h2><strong>BRINGING THE WORLD TOGETHER THROUGH EXPERIENCES</strong></h2>
    <br>
  </div>
</div>
</div>
<br>
<div class="container">
  <div class="row row-cols-2">
    <div class="col" >
      
      <img src="https://media.istockphoto.com/photos/festival-fun-picture-id638650658?k=20&m=638650658&s=612x612&w=0&h=LpA3vtJrcneEAB3gWtnnCfM3m7oP0Q84SchcDb-2Ysg=" class="rounded" style="width: 100%;height: 100%;padding-left: -20px;">
    </div>
    <div class="col" >
      <img src="https://media.istockphoto.com/photos/silent-disco-at-a-festival-picture-id1125689688?k=20&m=1125689688&s=612x612&w=0&h=9ZGwnnZaPP2JpjwDwX9GHeAypxxeDVQockfOc8K2gWE=" class="rounded" style="width: 100%;height: 100%;">
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1" style="background-color: tomato; color: whitesmoke;" >
  <div class="col" style="text-align: center;padding-left: 180px;width: 90%;padding-bottom: 60px;">
    <br>
    <h1 class="work-title" style="border-bottom: 5px solid whitesmoke;width: 40%;"><strong>ABOUT US</strong></h1>
    <br>
    <h3>Event-Mania is a reliable events advertising platform for live and online experiences that allows anyone to create, share, find and attend events that fuel their passions and enrich their lives. From music festivals, marathons, conferences, community rallies, and fundraisers, to gaming competitions and air guitar contests. Our mission is to bring the world together through rich experiences.</h3>
  </div>
</div> 
<br>
<br>
<div class="work-body"style="padding-left: 180px;width:90%;">
  <h1 class="work-title" style="border-top: 5px solid black;width:50px;"><strong>OUR WORK</strong></h1>
  <br>
  <h5 class="work-text">World-class brands trust Events-Mania for peace of mind. We have over 10 years of experience working in the Events Industry. From large multinationals to local leading companies and institutions, our clients look for an event agency that can do it all; creating a theme,advertise to reach a wider fanbase.They demand quality and originality.We listen, dream, plan and execute to exceed your expectations.</h5>
  <br>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://images.unsplash.com/photo-1587825140708-dfaf72ae4b04?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbmZlcmVuY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="rounded" style="width: 100%;height: 100%;">
      </div>
      <div class="col">
        <img src="https://media.istockphoto.com/photos/young-woman-at-silent-disco-picture-id1125687449?b=1&k=20&m=1125687449&s=170667a&w=0&h=NDmDQIpAhrnqmq7nFLB53Etkfdr67WkrfvkuRMTK-2M=" class="rounded" style="width: 100%;height: 100;">
      </div>
      <div class="col">
        <img src="https://media.istockphoto.com/photos/dancing-into-the-new-year-picture-id991412866?b=1&k=20&m=991412866&s=170667a&w=0&h=IU7QSiJzywLXYdRD0uV5U2masqMdX1VHxnPCfcFq5qg=" class="rounded" style="width: 100%;height: 100%;">
      </div>
    </div>
  </div>
  <br>
  <br><br> <br>
  <div class="container">
    <h1 class="work-title" style="border-top: 5px solid black;width:50px;color: black;"><strong>OUR PARTNERS</strong></h1>
    <br>
    <br>
    <div class="row row-cols-2 row-cols-lg-3">
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://app.glueup.com/resources/public/images/logo/200x100/3ed94667-9d62-4e87-ab2f-cf3aa9986062.png" class="rounded" style="width: 170px;height: 100px;">
        
      </div>
      <br>
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://www.kenyanfoodevent.com/images/uploads/sponsors/_main/ufi-logo.jpg" class="rounded" style="width: 250px;height: 80px;">
      </div>
      <br>
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://www.kenyanfoodevent.com/images/uploads/sponsors/_main/AEO-Member-logo.jpg" class="rounded" style="width: 170px;height: 100px;">
      </div>
      <br><br>
      <br><br>
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://naturekenya.org/wp-content/uploads/2016/11/Knightfrank-300x118.jpg" class="rounded" style="width:250px;height: 100px;">
      </div>
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://naturekenya.org/wp-content/uploads/2016/11/Vivo20Logo_0-300x100.jpg" class="rounded" style="width: 65%;height: 90%;">
      </div>
      <div class="col" style="padding-bottom: 60px;">
        <img src="https://app.glueup.com/resources/public/images/logo/200x100/6227ebbc-6dc5-446b-8233-867a67344702.png" class="rounded" style="width: 220px;height: 100px;">        
      </div>
    </div>
  </div>    
{%endblock%}




